// Color swatches
$turquoise:                 #1abc9c !default;
$green-sea:                 #16a085 !default;

$emerald:                   #2ecc71 !default;
$nephritis:                 #27ae60 !default;

$peter-river:               #3498db !default;
$belize-hole:               #2980b9 !default;

$amethyst:                  #9b59b6 !default;
$wisteria:                  #8e44ad !default;

$wet-asphalt:               #34495e !default;
$midnight-blue:             #2c3e50 !default;

$sun-flower:                #f1c40f !default;
$orange:                    #f39c12 !default;

$carrot:                    #e67e22 !default;
$pumpkin:                   #d35400 !default;

$alizarin:                  #e74c3c !default;
$pomegranate:               #c0392b !default;

$clouds:                    #ecf0f1 !default;
$silver:                    #bdc3c7 !default;

$concrete:                  #95a5a6 !default;
$asbestos:                  #7f8c8d !default;

// Grays
$gray:                      $concrete !default;
$gray-light:                $silver !default;
$inverse:                   white !default;

// Brand colors
$brand-primary:             $wet-asphalt !default;
$brand-secondary:           $turquoise !default;
$brand-success:             $emerald !default;
$brand-warning:             $sun-flower !default;
$brand-danger:              $alizarin !default;
$brand-info:                $peter-river !default;

$body-bg:                   #fff !default;
$text-color:                $brand-primary !default;

//** Global textual link color.
$link-color:                $green-sea !default;
$link-hover-color:          $turquoise !default;
